<% if object.errors.any? %>
  <div id="error_explanation"
       data-turbo-temporary
       class="mb-6 rounded-xl border border-red-300 bg-red-50 px-4 py-4 text-red-800">
    <h2 class="font-semibold">
      入力内容を確認してください
    </h2>

    <ul class="mt-3 list-disc space-y-1 pl-5 text-sm">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
